src/conf/xml-resources/web-service-references/textbookApp/wsdl/localhost_8080/SecondHandBooks-uts/textbookApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.wsd.uts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.wsd.uts/" name="textbookApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.wsd.uts/" schemaLocation="http://localhost:8080/SecondHandBooks-uts/textbookApp?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="addBook">
<part name="parameters" element="tns:addBook"/>
</message>
<message name="addBookResponse">
<part name="parameters" element="tns:addBookResponse"/>
</message>
<message name="fetchBooks">
<part name="parameters" element="tns:fetchBooks"/>
</message>
<message name="fetchBooksResponse">
<part name="parameters" element="tns:fetchBooksResponse"/>
</message>
<message name="getBookById">
<part name="parameters" element="tns:getBookById"/>
</message>
<message name="getBookByIdResponse">
<part name="parameters" element="tns:getBookByIdResponse"/>
</message>
<message name="createBook">
<part name="parameters" element="tns:createBook"/>
</message>
<message name="createBookResponse">
<part name="parameters" element="tns:createBookResponse"/>
</message>
<message name="deleteBook">
<part name="parameters" element="tns:deleteBook"/>
</message>
<message name="deleteBookResponse">
<part name="parameters" element="tns:deleteBookResponse"/>
</message>
<portType name="TextbookSOAP">
<operation name="login">
<input wsam:Action="http://soap.wsd.uts/TextbookSOAP/loginRequest" message="tns:login"/>
<output wsam:Action="http://soap.wsd.uts/TextbookSOAP/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="addBook">
<input wsam:Action="http://soap.wsd.uts/TextbookSOAP/addBookRequest" message="tns:addBook"/>
<output wsam:Action="http://soap.wsd.uts/TextbookSOAP/addBookResponse" message="tns:addBookResponse"/>
</operation>
<operation name="fetchBooks">
<input wsam:Action="http://soap.wsd.uts/TextbookSOAP/fetchBooksRequest" message="tns:fetchBooks"/>
<output wsam:Action="http://soap.wsd.uts/TextbookSOAP/fetchBooksResponse" message="tns:fetchBooksResponse"/>
</operation>
<operation name="getBookById">
<input wsam:Action="http://soap.wsd.uts/TextbookSOAP/getBookByIdRequest" message="tns:getBookById"/>
<output wsam:Action="http://soap.wsd.uts/TextbookSOAP/getBookByIdResponse" message="tns:getBookByIdResponse"/>
</operation>
<operation name="createBook">
<input wsam:Action="http://soap.wsd.uts/TextbookSOAP/createBookRequest" message="tns:createBook"/>
<output wsam:Action="http://soap.wsd.uts/TextbookSOAP/createBookResponse" message="tns:createBookResponse"/>
</operation>
<operation name="deleteBook">
<input wsam:Action="http://soap.wsd.uts/TextbookSOAP/deleteBookRequest" message="tns:deleteBook"/>
<output wsam:Action="http://soap.wsd.uts/TextbookSOAP/deleteBookResponse" message="tns:deleteBookResponse"/>
</operation>
</portType>
<binding name="TextbookSOAPPortBinding" type="tns:TextbookSOAP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fetchBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBookById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="textbookApp">
<port name="TextbookSOAPPort" binding="tns:TextbookSOAPPortBinding">
<soap:address location="http://localhost:8080/SecondHandBooks-uts/textbookApp"/>
</port>
</service>
</definitions>